.body {
    background: #192839;
    color: #fff;
}
.page {
    height: 100%; 
    width: 100%; 
    -ms-grid-columns: 1fr; 
    -ms-grid-rows: 128px 1fr; 
    display: -ms-grid;
} 
.header { 
    -ms-grid-columns: 37px 83px 1fr; 
    -ms-grid-rows: 1fr; 
    display: -ms-grid; 
} 
.header .win-navigation-backbutton { 
    -ms-grid-column: 2; 
    margin-top: 72px; 
    position: relative; 
    z-index: 1; 
} 
 
.header .titlearea { 
    -ms-grid-column: 3; 
    margin-top: 17px; 
} 
 
.header .titlearea .subtitle { 
    font-size:18pt;
    float:left;
} 
.header .titlearea .subtitle.right {
    float:right;
    margin-right: 40px;
} 
.header .titlearea .pagetitle { 
    width: auto;
    clear: both;
    float: left;
}

#contenthost { 
    -ms-grid-row: 2; 
    height: 100%; 
    width: 100%;
}

.pagecontrol {
    position:relative !important;
}

.searchBox {
    -ms-grid-column: 4;
    margin-top: 76px;
    margin-right: 40px;
}
.win-searchbox-suggestion-result img {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.win-autosuggestbox-flyout {
    margin-top: -20px;
}

.control-for-all {
     display:block;
}
.control-for-weather {
     display:none;
}

.fragment {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
    width:100%;
    height: 100%;
}

.fragment-body {
    display: -ms-grid;
    -ms-grid-columns: 37px 83px 1fr; 
    -ms-grid-rows: 1fr; 
    width:100%;
    height: 100%;
}

.content {
    -ms-grid-column: 3;
}